//
// Custom overrides from a user.
//


// --------------------- Variabili ----------------------------------------------

// -- Valori riportati da _variables.scss --

// $border-color: $grey-lt-100 !default; 

// $nav-width: 264px !default;
// // $nav-width-md: 248px !default; // valore originale
// $nav-width-md: 264px !default; // valore modificato da me

// -- nuovi valori definiti e usati qui in custom.scss --
$border-color-2: $grey-dk-100;

// ---------------------- Spaziature --------------------------------------------

.mb-0{
  margin-bottom: 0 !important;
}
.mt-0{
  margin-top: 0 !important;
}
.mt--1{
  margin-top: -0.75em;
}
.mt--2{
  margin-top: -1.5em;
}
.mt--3{
  margin-top: -2.25em;
}


// -------------------- Stili generali ------------------------------------------
body{
  color: black;
}
ol li::before, ul li::before{
  color: black !important;
}

$body-heading-color: $purple-300;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-weight: 700;
  //line-height: $body-heading-line-height;
  color: $body-heading-color;
  text-transform: uppercase;
}

h1{@include fs-9;}
h2{@include fs-7;}
h3{@include fs-6;}
h4{@include fs-5;}
h5{@include fs-4;}
h6{@include fs-4;}

p{
  text-align: justify;
  word-break: break-word;
}

a {
  overflow-wrap: break-word !important;
  display: inline;
  word-break: break-word;
}

li {
  text-align: justify;
}



// -------------------- Elementi specifici ----------------------------------------

// è il titolo che si trova sopra il nav
.site-title{
  // @include fs-5;
  // margin-left: -20px;
  padding-right: 0px;
}

#tornasu{
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: none;
  // padding: 10px;

  img {
    width: 35px;
    // height: 35px;
  }

  &--visible{
    display: block;
  }
}

#polibio-tbl {
  @extend .float-right;
  @extend .ml-6;
  @extend .mr-2;
}
#polibio-tbl td {
  width: $sp-7;
  @include fs-5;
}

#polibio1 td {
  width: $sp-4;
  @include fs-4;
}

#versioni-tls-ssl{
  @extend .tbl-fr;
}
@media (max-width: 1050px){
  #versioni-tls-ssl{
    float: none;
  }
}



// -------------------- Thumbnail -------------------------------------------------

.thumbnail {
  border: $border $border-color;
  border-radius: 4px;
  padding: 5px;
  //width: 275px;
  // width: fit-content;
  // max-width: 40%;
  width: 40%;
  &--centrato{
    @extend .thumbnail;
    // display: inline-block;
    max-width: 100%;
    margin: auto;
    text-align: center;
    // .img-wrapper-centrato{
    //   display: inline-block;
    //   text-align: left;
    // }
  }
  p {
    // margin-bottom: 0px;
    margin: 0px;
    @extend .fs-2;
    text-align: left;
    // line-height: normal; 
  }

  img {
    margin-bottom: 5px;
    //margin: auto !important;
    min-width: 100%;
  }

  &--testo{
    @extend .thumbnail;
    line-height: normal;
  }
  &--50{
    @extend .thumbnail;
    width: 50%;
    // p {
    //   margin: 0px;
    //   @extend .fs-3;
    // }
  }
  &--25{
    @extend .thumbnail;
    width: 25%;
  }
}


// -------------------- Modals -------------------------------------------------------

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  //padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */

  &--visibile{
    display: block;
  }

  /* Modal Content */
  &__content {
    position: relative;
    background-color: #fefefe;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 80%;
    width: fit-content;

    img {
      // max-width: 90vw;
      // max-height: 80vh;
      max-width: 100%;
      max-height: 100%;
    }
    
    &__img-container{
      text-align: center;

      &--double{
        @extend .modal__content__img-container;
        img{
          max-width: 48%;
        }  
      }

      @media (max-width:992px){
        &--double{
          img{
            max-width: 100%;
          }  
        }  
      }
    }

    p {
      //font-size: 3vh;
      //font-size: calc(16px + 1vw);
      // font-size: min(3vw, 1em); // commento per evitare problemi con le unità di misura
      padding: 0px;
      margin-top: 0.5em;
      margin-bottom: 0;

      //margin-bottom: 1em;
    }
  }

  /* The Close Button */
  &__closer {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    line-height: normal;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    &--topright{
      position: absolute;
      right: 10px;
      top: 0;
    }
  }

} // chiusura di modal




// ---------------- Riquadri esempio e importante --------------------------------------

.esempio {
  @extend .code-example;

  *:first-child{
    margin-top: 0;
  }

  *:last-child{
    margin-bottom: 0;
  }
}

.importante {
  padding: $sp-3;
  margin-bottom: $sp-3;
  overflow: auto;
  border: 2px solid $border-color-2;
  border-radius: $border-radius;
  @include fs-5;
}

// ---------------- Sistema di incolonnamento --------------------------------------

.colonna-2{
  width: 47.5%;
  float: left;
}
*.colonna-2:first-child{
  margin-right: 2.5%;
}
*.colonna-2:last-child{
  margin-left: 2.5%;
}
@media (max-width:992px){
  .colonna-2{
    width: 100%;
  }
  *.colonna-2:first-child{
    margin-right: 0;
    margin-bottom: 10px;
  }
  *.colonna-2:last-child{
    margin-left: 0;
  }
}



// -------------------- Tabelle --------------------------------------------------------

table{
  border-collapse: collapse;
}

th, td{
  min-width: 0px !important;
}

.table-wrapper{
  width: auto;
}

.table-wrapper:last-child {
  margin-bottom: 0px;
}

table.invisibile {
  margin: 0px;
  padding: 0px;
  //font-size: ;
}

.border-collapse-separate {
  border-collapse: separate;
}

table.invisible tr,
table.invisible th,
table.invisible td {
  //color: rgb(255, 0, 0);
  border: none;
  text-align: left;
  padding: 0px;
  margin: 0px;
  padding-right: $sp-1;
}
// table.stretta,
// table.stretta td{
//   width: fit-content !important;
//   min-width: fit-content !important;
// }

.tbl-mini th,
.tbl-mini td{
  @include fs-2;
  padding: 2.5px !important;
  text-align: center;
}

.distanzia-colonne-1 td,
.distanzia-colonne-1 th{
  padding-right: 1em !important;
  &:last-child{
    padding-right: 0;
  }
}
.distanzia-colonne-2 td,
.distanzia-colonne-2 th{
  padding-right: 2em !important;
  &:last-child{
    padding-right: 0;
  }
}
.distanzia-colonne-3 td,
.distanzia-colonne-3 th{
  padding-right: 3em !important;
  &:last-child{
    padding-right: 0;
  }
}

.tbl-fl{
  float: left;
  @extend .mb-4;
  @extend .mr-4;
}
.tbl-fr{
  float: right;
  @extend .mb-4;
  @extend .ml-4;
}
.tbl-fl, .tbl-fr{
  .table-wrapper{
    margin: 0px;
    padding: 0px;
    table{
      margin: 0px;
      padding: 0px;
    }
  }
}

.tbl-nowrapper{
  .table-wrapper{
    box-shadow: none;
    width: fit-content;
  }
}

.tab {
  // Padding spacer utilities

  @for $i from 1 through length($spacers) {
    $size: #{map-get($spacers, sp-#{$i - 1})};
    $scale: #{$i - 1};

    // .p-0, .p-1, .p-2...
    &--p-#{$scale} {
      td, th {
        padding: #{$size} !important;
      }
    }
    &--pt-#{$scale} {
      td, th {
        padding-top: #{$size} !important;
      }
    }
    &--pr-#{$scale} {
      td, th {
        padding-right: #{$size} !important;
      }
    }
    &--pb-#{$scale} {
      td, th {
        padding-bottom: #{$size} !important;
      }
    }
    &--pl-#{$scale} {
      td, th {
        padding-left: #{$size} !important;
      }
    }

    &--px-#{$scale} {
      td, th {
        padding-right: #{$size} !important;
        padding-left: #{$size} !important;
      }
    }

    &--py-#{$scale} {
      td, th {
        padding-top: #{$size} !important;
        padding-bottom: #{$size} !important;
      }
    }
  }
  // &--p-2 {
  //   td,
  //   th {
  //     @extend .p-2;
  //     // padding: 2px !important;
  //   }
  // }
}

td.bordo-destra-spesso {
  border-right: 2px solid black;
}

// .tab-fs-1{@include fs-1}
// .tab-fs-2{@include fs-2}
// .tab-fs-3{@include fs-3}
// .tab-fs-4{@include fs-4}
// .tab-fs-5{@include fs-5}

.tbl-creative-commons{
  img{
    height: 40px;
  }
  td:nth-child(1),
  td:nth-child(2){
    text-align: center;
  }
}

// -------------------- Fine Tabelle -----------------------------------------------


// -------------------- Index ------------------------------------------------------
.titolone {
  //background-color: #f5f6fa;
  background-color: $sidebar-color;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border: $border $border-color;
}

#peril {
  //color: black;
  display: inline-block;
  padding-bottom: 10px;
}

#acuradi {
  display: inline-block;
  //color: black;
  margin-bottom: 7px;
}

a {
  white-space: normal !important;
}

// -------------------- Video container -------------------------------------------------
//  stile per i video-container preso da https://flaviocopes.com/responsive-youtube-videos/
.video-container {
  overflow: hidden;
  position: relative;
  width:100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// ---- Stile degli indici di pagina (toc - table of contents)------------------------
#markdown-toc {
  @include fs-3;
  @extend .lh-tight;
  // line-height: 1;

  // content: "<h2>Indice della pagina</h2>";
  // margin-left: -$spacing-unit;
  // line-height: 200%;
  // font-weight: bold;
  // @include relative-font-size(1.25);
  // @include media-query($on-laptop) {
  //   @include relative-font-size(1.125);
  // }
}


// -------------------- Miei Helpers -------------------------------------------------

.float-right {
  float: right;
  @extend .ml-4;
}

.float-left {
  float: left;
  @extend .mr-3;
}

// font sizes
.fs-5 * {
  @include fs-5;
}
.fs-4 * {
  @include fs-4;
}
.fs-3 * {
  @include fs-3;
}
.fs-2 * {
  @include fs-2;
}
.fs-1 * {
  @include fs-1;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

.m-a {
  margin: auto;
}

.ta-c {
  text-align: center;
  * {
    @extend .ta-c;
  }
}

.ta-l{
  text-align: left;
  * {
    @extend .ta-l;
  }
}
.ta-r{
  text-align: right;
  * {
    @extend .ta-r;
  }
}

.overline{
  text-decoration: overline;
}
// -------------------- Fine Helpers -------------------------------------------------


// -------------------- Impostazioni di stampa ---------------------------------------
@media print {
  .side-bar,
  .page-header {
    display: none;
  }
  .main-content {
    max-width: auto;
    // margin: 1em;
    margin: 0;
  }
}


// -------------------- Clearfix ---------------------------------------
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// -------------------- Non so che cosa faccia ---------------------------------------

.hoverlink:hover {
  cursor: pointer;
}